version: '3.7'

services:
  postgres:
    image: postgres:9.6
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    # to set the limit of logging file in container
    # logging:
    #   options:
    #     max-size: 10m
    #     max-file: "3"

  webserver:
    build: .
    restart: always
    depends_on:
      - postgres
    environment:
      - LOAD_EX=n
      - EXECUTOR=Local
      - DEFAULT_TIMEZONE=Asia/Taipei 
    # to set the limit of logging file in container
    # logging:
    #   options:
    #     max-size: 10m
    #     max-file: "3"
    ports:
      - "8080:8080"
    command: webserver
    healthcheck:
      test: ["CMD-SHELL", "[ -f /usr/local/airflow/airflow-webserver.pid ]"]
      interval: 30s
      timeout: 30s
      retries: 3