beautifulsoup4==4.9.3
blinker==1.4
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cryptography==3.4.7
fake-useragent==0.1.11
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.2
kaitaistruct==0.9
monotonic==1.6
pendulum==1.4.4
pyasn1==0.4.8
pycparser==2.20
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.18.0
pytz==2021.1
pytzdata==2020.1
requests==2.26.0
selenium==3.141.0
selenium-wire==4.3.3
six==1.16.0
soupsieve==2.2.1
tenacity==3.2.1
tzlocal==1.5.1
urllib3==1.26.6
webdriver-manager==3.4.2
wsproto==1.0.0
